body {
    background-color: white;
    color: black;
    text-align: left;
    font-family: arial;
    font-size: 14px;
    margin: 0px;
    border: 1px;
    padding: 1px 1px 1px 5px;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    border: 1px;
    padding: 15px 1px 1px 5px;
}

h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    border: 1px;
    padding: 15px 1px 1px 5px;
}

h4 {
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    border: 1px;
    padding: 1px 1px 1px 5px;
}

p {
    font-size: 10px;
    font-style: italic;
    margin: 0px;
    border: 1px;
    padding: 1px 1px 1px 5px;
}



table, th, td {
    border: 1px solid black;
    // text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 3px
}

.nut_cat_macro {
    text-align: left;
    font-weight: bold;
}

.nut_sub_cat_macro {
    position: relative;
    left: 14px;
    font-weight: normal;
}

.traffic_energy {
    background-color: #FFFFFF;
}

.traffic_fat {
    background-color: #3CB938;
}

.traffic_saturates {
    background-color: #3CB938;
}

.traffic_sugars {
    background-color: #CB2B0B;
}

.traffic_salt {
    background-color: #FEA150;
}
